/* обнулення */

* {
  padding: 0;
  margin: 0;
  bottom: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
a {
  color: inherit;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}


/* шрифти */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Rubik:wght@400;500&display=swap');
/* font-family: 'Merriweather', serif;
font-family: 'Rubik', sans-serif; */


/* body */

body {
  font-family: 'Rubik';
  font-size: 14px;
  color: #646D70;
  background-color: #f1f1f1;
}

/* налаштування адаптиву */
[class*="__container"] {
  max-width: 840px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.wrapper {
  min-width: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page {
  flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
title {
  font-family: Merriweather;
  font-size: 30px;
  color: #fff;
}
title--dark {
  color: #222F33;
}


/* main */


.header {
}
.header__container {
}
.header__logo {
}
.header__body {
}
.header__menu {
}
.menu {
}
.header__list {
}
.header__item {
}
.header__link {
}
.header__bnt {
}
.page {
}
.page__main {
}
.main-section {
}
.main-section__container {
}
.main-section__contant {
}
.main-section__label {
}
.main-section__title {
}
.main-section__video-link {
}
.main-section__image {
}






















