/* обнулення */

* {
  padding: 0;
  margin: 0;
  bottom: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
a {
  color: inherit;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}


/* шрифти */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Rubik:wght@400;500&display=swap')
/* font-family: 'Merriweather', serif;
font-family: 'Rubik', sans-serif; */


/* обнулення */

























